@font-face{
    font-family: 'Slash';
    src: url('../fonts/slash-webfont.eot');
    src: url('../fonts/slash-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/slash-webfont.woff') format('woff'),
    url('../fonts/slash-webfont.ttf') format('truetype'),
    url('../fonts/slash-webfont.svg#webfont') format('svg');
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    color: #4A3637;
    font-family: 'Slash', sans-serif;
    text-transform: uppercase;
    text-shadow: 0.1em 0.1em 0 rgba(0,0,0,.2);
    font-size: 1.3em;
}

a {
    color: brown;
    text-decoration: none;
}

a.light {
    color: white;
}

body.mobile .desktop {
    display: none;
}

body.desktop .mobile {
    display: none;
}

#game {
    background: #F3BD0B;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#ui {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%, -50%);
    -moz-transform : translate(-50%, -50%);
    -ms-transform : translate(-50%, -50%);
    -o-transform : translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.text-center {
    text-align: center;
}

.button {
    display: inline-block;
    background-color: #4A3637;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0.1em 0.1em 0 rgba(0,0,0,.2);
    color: #FFFFFF;
}

#logo {
    max-height: 50vh;
    margin-bottom: 1em;
    display: block;
}

#btn-back {
    display: block;
    margin-bottom: 1em;
}

.techno-chooser img {
    max-width: 50%;
    margin-bottom: 1em;
}

.character img {
    max-height: 20vh;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

#rooms-list {
    max-height: 50vh;
    overflow: scroll;
}

#rooms-list li {
    background-color: rgba(255,255,255,.8);
    border-radius: 3px;
    padding: 10px 0px;
    box-shadow: 0.1em 0.1em 0 rgba(0,0,0,.2);
    margin-bottom: 5px;
}

/* UTIL */

.col50 {
    float: left;
    width: 50%;
}

.relative {
    position: relative;
}

.hidden {
    display: none;
}

.bigbox {
    width: 90%;
    height: 90%;
}

.bigheight {
    height: 90vh;
}

.mediumheight {
    height: 50vh;
}

.fullwidth {
    width: 100%;
}

.fullheight {
    height: 100%;
}

.topleft {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.bottomleft {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
}

.padding-horizontal-standard, .padding-left-standard, .padding-right-standard {
    box-sizing: border-box;
}

.padding-horizontal-standard {
    padding: 0 20px;
}

.padding-left-standard {
    padding-left: 20px;
}

.padding-right-standard {
    padding-right: 20px;
}

.coloredbox {
    background-color: #4A3637;
    border-radius: 3px;
    box-shadow: 0.1em 0.1em 0 rgba(0,0,0,.2);
}

.coloredbox-male {
    background-color: cornflowerblue;
}

.coloredbox-female {
    background-color: crimson;
}

.disabled {
    opacity: .5;
}

.inverted {
    color: white;
}

/* ##### ANIMATIONS ##### */

@-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
    }
}

@-moz-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -moz-transform: scale3d(.3, .3, .3);
    }

    20% {
        -moz-transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -moz-transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -moz-transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -moz-transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        -moz-transform: scale3d(1, 1, 1);
    }
}

@-o-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -o-transform: scale3d(.3, .3, .3);
    }

    20% {
        -o-transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -o-transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -o-transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -o-transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        -o-transform: scale3d(1, 1, 1);
    }
}

@-ms-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -ms-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -ms-transform: scale3d(.3, .3, .3);
    }

    20% {
        -ms-transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -ms-transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -ms-transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -ms-transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        -ms-transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    -moz-animation-name: bounceIn;
    -ms-animation-name: bounceIn;
    -o-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: .75s;
    -moz-animation-duration: .75s;
    -ms-animation-duration: .75s;
    -o-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}