<a id="btn-back" class="button topleft" href="#">Retour</a>

<div class="position-center text-center bigbox">
    <div class="desktop">
        <div class="col50 padding-right-standard">
            <div class="relative bigheight fullwidth coloredbox coloredbox-male">
                <a href="#" class="techno-chooser position-center light" data-tech="keys">
                    Keys
                </a>
            </div>
        </div>
        <div class="col50 padding-left-standard">
            <div class="relative bigheight fullwidth coloredbox coloredbox-female">
                <a href="#" class="techno-chooser position-center light" data-tech="desktop-remote">
                    Remote Phone
                </a>
            </div>
        </div>
    </div>
    
    <div class="mobile hidden">
        <div class="col50 padding-right-standard">
            <div class="relative bigheight fullwidth coloredbox coloredbox-male">
                <a class="techno-chooser position-center light" href="#" data-tech="gyro">
                    Gyroscope
                </a>
            </div>
        </div>
        <div class="col50 padding-left-standard">
            <div class="relative bigheight fullwidth coloredbox coloredbox-female">
                <a class="techno-chooser position-center light" href="#" data-tech="mobile-remote">
                    Remote for Desktop
                </a>
            </div>
        </div>
    </div>
</div>